name: Doc Check Links

on:
  schedule:
    # At 00:00 on Sunday.
    # https://crontab.guru
    - cron: '0 0 * * 0'
  workflow_dispatch:

# Set permissions at the job level.
permissions: {}

jobs:
  doc-check-links:
    if: github.repository_owner == 'pytest-dev'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
          cache: pip

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run sphinx linkcheck via tox
        run: tox -e docs-checklinks
